img{
  display: inline-block;
}
.pic1 img {
    padding: 1px;
    border:1px solid black;
    width: 30%;
    height:250px;
    margin:18px;
    position:absolute;
    top: 75px;
    left: 100px;
}

.pic2 img {
    padding: 1px;
    border:1px solid black;
    width: 30%;
    height:250px;
    margin:18px;
    position:absolute;
    top: 75px;
    left: 800px;
}
