img{
  display: inline-block;
}
.pic1 img {
    padding: 1px;
    border:1px solid black;
    width: 30%;
    height:250px;
    margin:18px;
    position:absolute;
    top: 75px;
    left: 100px;
}
#words1 {
  position:absolute;
    top: 400px;
    left: 20%;
}

.pic2 img {
    padding: 1px;
    border:1px solid black;
    width: 30%;
    height:250px;
    margin:18px;
    position:absolute;
    top: 75px;
    left: 800px;
}
#words2 {
  position:absolute;
    top: 400px;
    left: 70%;
}
#words3{
  position: absolute;
  top: 400px;
  left: 15%;
}
/*arttage.html*/
#words4{
  position:absolute;
  top:400px;
  left: 57%;
}
#words5{
  position:absolute;
  top:400px;
  left:17%;
}
