a:link, a:visited {
    /*background-color: black;*/
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
div {
    height:190px;
    padding: 20px;
    margin: 40px;
    /*color: red;*/
}
.result1{
      /*background-color:#BC8F8F;*/
    width:20%;
    position:absolute;
    top: 200px;
    left: 800px;
  
}
.result1 img{
    width: 100px;
    height: 100px;  
}
