/*img {*/
/*  display: inline-block;*/
/*  padding:10px;*/
/*  margin:10px;*/
/*  width:10px;*/
/*  height:10px;*/
/*}*/
/*.result1{*/
/*  width:20%;*/
/*  height:20%;*/
/*}*/
/*img.expand { width: 10em; }*/
/*a:link, a:visited {*/
    /*background-color: black;*/
/*    color: white;*/
/*    padding: 14px 25px;*/
/*    text-align: center; */
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*}*/
/*div {*/
/*    height:190px;*/
/*    padding: 20px;*/
/*    margin: 40px;*/
/*}*/
  /*.result1{*/
  /*  background-color:#BC8F8F;*/
  /*  width:20%;*/
  /*  position:absolute;*/
  /*  top: 200px;*/
  /*  left: 800px;*/
  /*}*/
  .result1 img{
      /*width: 100px;*/
      /*height: 100px;*/
     
    padding: 1px;
    border:1px solid black;
    width: 40%;
    height:250px;
    margin:18px;
}
    .result2 img {
       
    padding: 1px;
    border:1px solid black;
    width: 40%;
    height:250px;
    margin:18px;
}
.result3 img {

    padding: 1px;
    border:1px solid black;
    width: 40%;
    height:250px;
    margin:18px;

}
    
  /*  .result2{*/
  /*  background-color:#BC8F8F;*/
  /*  width:20%;*/
    /*position:absolute;*/
    /*top: 200px;*/
    /*left: 800px;*/
  /*}*/
  /*  .result3{*/
  /*  background-color:#BC8F8F;*/
  /*  width:20%;*/
  /*  position:absolute;*/
  /*  top: 200px;*/
  /*  left: 800px;*/
  /*}*/
  html { 
  background: url(https://thumbs.dreamstime.com/t/high-quality-professional-blurred-backgrounds-perfect-any-size-project-online-even-print-36699745.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
