
html { 
  background: url(http://previews.123rf.com/images/ciarada/ciarada1401/ciarada140100013/25331184-White-textured-background-with-a-pattern-of-simple-geometric-shapes-that-will-tile-seamlessly--Stock-Vector.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

